@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


@layer base {
	html {
		@apply text-pr-6;
		@apply bg-pr-5;
		/* @apply font-press-start; */
		@apply font-maven-pro;
		@apply font-bold;
		@apply text-xl;
		scroll-behavior: smooth;
	}

	body {
		@apply p-5;
		@apply m-5;
		@apply text-left;
	}
}

.blink {
	opacity: 1;
	animation: blink 2s linear infinite;
	webkit-animation: blink 2s linear infinite;
}

@keyframes blink {
	0% {
	  opacity: 1;
	}
	50% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
}

ul.skills {
	-moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}
